MONGO_URI=mongodb://127.0.0.1:27017/NNPTUD-C2
MAILTRAP_HOST=sandbox.smtp.mailtrap.io
MAILTRAP_PORT=2525
MAILTRAP_USER=your_mailtrap_user
MAILTRAP_PASS=your_mailtrap_pass
MAIL_FROM="admin@" <admin@nnptud.com>
